<%- include('./partials/header') %>

    <div class="title">
        <div class="carrito">
            <i class="ri-shopping-cart-line"></i>
        </div>
        <hr>
        <hr>
        <h2>LISTA DE CARRITO</h2>
    </div>

    <% if (typeof product !=='undefined' && product.length> 0) { %>
        <div class="container mt-6">
            <div class="listado-container">
                <div class="listado">
                    <div class="menu">
                        <ul>
                            <li>Producto</li>
                            <li>Descripción</li>
                            <li>Cantidad</li>
                            <li>Precio</li>
                        </ul>
                    </div>

                    <% product.forEach(item=> { %>
                        <div class="product-card">
                            <div class="product-details card_detail">
                                <img src="<%= item.image %>" alt="Producto" class="product-image"
                                    style="max-width: 150px; max-height: 150px;">
                            </div>
                            <div class="product-details card_detail ">

                                <% if(item.size) {%>
                                    <p>Talla: <%= item.size %>
                                            <%} %>
                                    </p>
                                    <p>Color: <%= item.color %>
                                    </p>
                                    <p>Disponible: <%= item.amount %>
                                    </p>
                                    <div class="product-actions">
                                        <a href="/cart/<%= item.idProduct %>"><i
                                                class="ri-delete-bin-5-fill"></i>Quitar</a>
                                    </div>
                            </div>
                            <div class="product-details card_detail">
                                <div class="cantidad-caja">
                                    <%= item.cantidad %>
                                </div>
                                <a href="/add-cart/<%=item.idProduct  %>" style="text-decoration: none;"> <i
                                        class="ri-add-line"
                                        style="font-weight: bold;color: black; font-size: 18px;"></i></a>
                            </div>
                            <div class="product-details card_detail">
                                <div id="precioTotal" class="product-price">Bs <%= item.price %>

                                </div>

                                <div class="product-price">Total Bs <%= parseFloat(item.cantidad *
                                        item.price).toFixed(2) %>
                                </div>
                            </div>
                        </div>
                        <div class="lineaCart"></div>
                        <% }) %>

                            <br>
                            <div class="text-right">
                                <p>Subtotal: <%= totalPrice %>
                                </p>
                            </div>
                            <div class="boton">
                                <a href="/pedido" class="btn <%=maximoProduct.length > 0? 'disabled':'' %>">Comprar</a>
                            </div>
                            <br>


                </div>
            </div>
        </div>
        <% } else { %>
            <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                <div class="alert alert-warning" role="alert">
                    Carrito vacío
                </div>
            </div>
            <% } %>

                <div class="linea"></div>

                <%- include('./partials/footer') %>